$colors: (
  main-dark-background: #14131b,
  main-light-text: #f2f2f2,
  purples-purple: #7a4df3,
  purples-light-purple: #a17df3,
  whites-ghost-white: #f6f8fa,
  whites-white: #fefefe,
  greys-gainsboro: #dcdae7,
);
